// ---------- Reset ----------- //

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ---------- Variables --------------- //

$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

// Neutral
$dark-gray: hsl(0, 0%, 59%);

// ---------- Custom Styles ----------- //

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  background: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg), $dark-cyan;
  background-repeat: no-repeat;
  background-position: right calc(47vw + 10%) bottom calc(65vh - 15vw),
    left calc(50vw + 15%) top calc(65vh - 5vw);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.4);
  overflow: hidden;

  .card-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #eee;

    .headshot {
      border-radius: 50%;
      border: 5px solid #fff;
      margin-top: -3.5rem;
      margin-bottom: 2rem;
      transition: transform 0.4s;
      &:hover {
        transform: scale(1.2);
      }
    }
    h1 {
      font-size: 1.1rem;
      font-weight: 700;
      margin-right: 0.5rem;
      color: $very-dark-desaturated-blue;
    }
    span {
      color: $dark-grayish-blue;
    }
    h3 {
      font-size: 0.8rem;
      margin-bottom: 2rem;
      color: $dark-grayish-blue;
    }
    .card-title {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;
    }
  }

  .card-bottom {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    text-align: center;

    h2 {
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 0.2rem;
      color: $very-dark-desaturated-blue;
    }
    span {
      font-size: 0.6rem;
      color: $dark-grayish-blue;
      letter-spacing: 1.2px;
    }
  }
}
